.add{
    display: flex;
    align-items: center;
    justify-content: center;
font-size: 30px;
width: 200px;
height: 60px;
background: linear-gradient(180deg, #96EA9B 21.93%, #71DEB0 121.93%);
border-radius: 30px;
border: none;
cursor: pointer;;
}


.add:active{
    box-shadow: 0px 1.2px 2px 4px rgba(108, 109, 108, 0.418);
}

.add img {
    width: 40px;
    height: 40px;
    margin: 0px 8px;
}
