.AddUserCurrencyInfo{
    margin: 2% auto;
    width: 776px;
    height: 581px;
    background-image: url(/src/assets/images/Container2.png);
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.AddUserCurrencyInfo--maincontainer{
    margin-top: 20px;
    margin-right: 30%;
}

.AddUserCurrencyInfo--imageIcon{
    margin-top:75vh;
    margin-left: 20vh;
    width: 120px;
    height: 120px;
    left: 170px;
    top: 1079px;
}

.AddUserCurrencyInfo--col{
    width: 65vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AddUserCurrencyInfo--input{
    height: 10vh;
}


.AddUserCurrencyInfo--label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    width: 2.5em;
    margin: 0 5px;
    padding: 10px 10px;
    background: linear-gradient(122.78deg, rgba(148, 111, 93, 0.49) 19.47%, #FFE8D3 88.47%);
    border: 1px solid #C9C6C6;
    border-radius: 5px;
}