* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  overflow-x: hidden;
  background-image: url(../assets//images/blurry-gradient-haikei.png);
  background-repeat: no-repeat;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
select {
  height: 3rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.274);
  box-shadow: 0px 1px 11px 0px #0000001c;
  outline: none;
  width: 400px;
  margin: 10px 0px;
  padding: 0px 10px;
}

.buttonsContainer button,
.buttonsContainer a button {
  background: #0083c266;
  border: 1px solid #0000006e;
}

.buttonsContainer button span,
.buttonsContainer a button {
  color: rgb(24, 24, 24);
}

button:active {
  box-shadow: 0px 1.2px 2px 4px rgba(172, 172, 172, 0.418);
}

@media (max-width: 850px) {
  input,
  select {
    width: 300px;
  }

  .buttonsContainer button,
  .buttonsContainer a button {
    cursor: none;
    outline: none;
  }

  .buttonsContainer {
    flex-wrap: wrap;
  }
  .buttonsContainer button {
    margin: 0px 2px;
    width: 150px;
  }

  .buttonsContainer button img {
    width: 20px;
    height: 20px;
  }

  .buttonsContainer button span,
  .buttonsContainer a button {
    font-size: 20px;
  }
}

@media (max-width: 850px) and (orientation: landscape) {
  .App {
    height: auto !important;
  }
}
