.cancel{
display: flex;
align-items: center;
justify-content: center;
font-size: 30px;
width: 200px;
height: 60px;
border: none;
background: linear-gradient(180deg, #DBECE6 21.93%, #95B0B1 121.93%);
border-radius: 30px;
cursor: pointer;;
}

.cancel:active{
    box-shadow: 0px 1.2px 2px 4px rgba(108, 109, 108, 0.418);
}
.cancel img {
    width: 40px;
    height: 40px;
    margin: 0px 8px;
}
