.card {
    margin: 10px 10px;
    width: 16vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

h1,
span {
    color: black;
    padding: 20px 0px;
}

hr {
    width: 100%;
    color: rgba(255, 255, 255, 0.582);
}

.bg-green {
    background: linear-gradient(179.96deg, #acf1e4 0.03%, #93ffed 106.91%);
    border-radius: 40px;
}

.bg-blue {
    background: linear-gradient(179.96deg, #3eb5ff 0.03%, #79b3ff 106.91%);
    border-radius: 40px;
}

.bg-purple {
    background: linear-gradient(179.96deg, #e7d7fc 0.03%, #cbaaff 106.91%);
    border-radius: 40px;
}

.bg-orange {
    background: linear-gradient(179.95deg, #ffa99a 0.04%, #ffb5a6 72.43%);
    border-radius: 40px;
}