.card {
  margin: 10px 10px;
  width: 323px;
  height: 305px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  box-shadow: -1px 1px 10px 0px #00000066;
  /*   background-color: #84dcfe; */
}

.card > span:nth-child(4) {
  text-align: center;
}

h1,
span {
  color: black;
  padding: 20px 0px;
}

hr {
  width: 100%;
  color: rgba(255, 255, 255, 0.582);
}

.bg-green {
  background: linear-gradient(179.96deg, #4d8076 0.03%, #00c9a7 106.91%);
  border-radius: 40px;
}

.bg-blue {
  background: linear-gradient(179.96deg, #7ed5e0 0.03%, #62b6da 106.91%);
  border-radius: 40px;
}

.bg-purple {
  background: linear-gradient(179.96deg, #9b89b3 0.03%, #845ec2 106.91%);
  border-radius: 40px;
}

.bg-orange {
  background: linear-gradient(179.95deg, #e1a173 0.04%, #e1a173 72.43%);
  border-radius: 40px;
}

@media (max-width: 850px) {
  .card {
    width: 280px;
    height: 231px;
  }
}
