.GeneralResult-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.GeneralResult-Container .card {
    margin-top: 5vh;
}