.ResultByProfesion--container {
    margin: 15vh 0vh 15vh 0vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ResultByProfesion--container .card {
    margin-top: 5vh;
}