.titleResult--container {
    width: 100%;
    position: relative;
}

.Background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5rem;
    background-color: #AA8B71;
}

.titleResult--container__h1 {
    position: absolute;
    left: 80px;
    top: 0px;
    text-align: center;
    display: contents;
}

.BackIcon {
    position: absolute;
    left: 10px;
    top: 5px;
}

.BackIcon:hover {
    background-color: white;
}