.titleResult--container {
    width: 100%;
    position: relative;
}

.Background {
    width: 100vw;
    height: 5rem;
}

.titleResult--container__h1 {
    position: absolute;
    left: 80px;
    top: 0px;
    text-align: center;
}

.BackIcon {
    position: absolute;
    left: 10px;
    top: 5px;
}

.BackIcon:hover {
    background-color: white;
}